
@{
	ViewBag.Title = "Index";
	Layout = "";
}

<html>
<head>
	<title>Mimicking Mazda Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<a class="navbar-brand" href="#">Angela Balzac</a>
						<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
						<li><a href="#about">ABOUT</a></li>
						<li><a href="#innovation">INNOVATION</a></li>
						<li><a href="#news">NEWS</a></li>
						<li><a href="#csr">CSR</a></li>
						<li><a href="#investors">INVESTORS</a></li>
						<li><a href="#careers">CAREERS</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<div class="container-fluid">
		<section class="row jumbotron">
			<div class="text-center">
				<h1 class="title">Angela Balzac</h1>
			</div>
		</section>
		<section class="row productInfo layout-dark">
			<div class="center">
				<h1>Angela is ready to guide you into paradise!</h1>
				<p>From the popular 'Expelled from Paradise' comes a scale figure of the DEVA system security agent Angela Balzac! Her unique design has been faithfully recreated in 1/4th scale based on an official illustration of her laying down. The figure features various translucent parts and is filled with all sorts of highlights for fans to enjoy by their side!</p>
			</div>
		</section>
		<section class="row productDetail layout-light">
			<div class="center">
				<h3>Product Details</h3>
				<div class="row">
					<div class="col-md-6">
						<h4>Product Name</h4>
						<p>Angela Balzac</p>
						<h4>Series</h4>
						<p>Expelled from Paradise</p>
						<h4>Manufacturer</h4>
						<p>FREEing</p>
						<h4>Category</h4>
						<p>1/4th Scale</p>
						<h4>Price</h4>
						<p>¥25,741 (Before Tax)</p>
					</div>
					<div class="col-md-6">
						<h4>Release Date</h4>
						<p>2017/01</p>
						<h4>Specifications</h4>
						<p>Painted 1/4th scale PVC product. Approximately 480mm in length. Sheet included.</p>
						<h4>Sculptor</h4>
						<p>FREEing</p>
						<h4>Released By</h4>
						<p>FREEing</p>
						<h4>Distributed By</h4>
						<p>Good Smile Company</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer class="container-fluid">
		<h1>Footer</h1>
	</footer>

	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
















