
@{
	ViewBag.Title = "Index";
	Layout = "";
}

<html>
<head>
	<title>Mimicking Mazda Layout</title>

</head>
<body>
	<div class="content">
		<header>
			<h1>Header</h1></header>
		<section class="jumbotron">Products</section>
		<section class="newsSection">News</section>
		<section class="corpInfoSection">Corporation Info</section>
		<footer>
			<h1>Footer</h1></footer>
	</div>
</body>
</html>
















