
@{
	ViewBag.Title = "Index";
	Layout = "";
}

<div class="content">
	<header>Header</header>
	<section class="jumbotron">Products</section>
	<section class="newsSection">News</section>
	<section class="corpInfoSection">Corporation Info</section>
	<footer>Footer</footer>
</div>


















