
@{
	ViewBag.Title = "Index";
	Layout = "";
}

<html>
<head>
	<title>Mimicking Mazda Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
	<header class="container-fluid">
		<h1>Header</h1>
	</header>
	<div class="container-fluid">
		<div class="row">
			<section>
				
			</section>
		</div>
	</div>
	<footer class="container-fluid">
		<h1>Footer</h1>
	</footer>

	<script src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>
















